doctype html

html(lang="en")
head
	title Featured Wikipedia
	link(rel='stylesheet'
		 type='text/css'
		 href='css/surveystyle.css'
		 media='screen')
		 
body 
	h2 Featured
	h2 Wikipedia
	p The Article with the Most Revisions #{mostRevisions}
	p The Article with the Least Revisions #{leastRevisions}
	p The Article Edited by the Largest Group of Registered Users #{mostEdits}
	p The Article Edited by the Largest Group of Registered Users #{leastEdits}
	