doctype html

html(lang="en")
head
	title Featured Wikipedia
	link(rel='stylesheet'
		 type='text/css'
		 href='css/style.css'
		 media='screen')
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="https://www.gstatic.com/charts/loader.js")
	script(src="/js/main.js")
		 
body
	nav(class='topnav')
		p #[strong Featured Wikipedia] >
		a(href='' id='buttonOverall' class='active') Overall
		a(href='' id='buttonIndividual') Individual
	div#header.row
		div.col-12
	div#content.row
		div.col-5.info
			div.overall
				h1.overall Overall
				p The Article with the Most Revisions
				p #[strong #{mostRevisions}]
				p The Article with the Least Revisions
				p #[strong #{leastRevisions}]
				p The Article Edited by the Largest Group of Registered Users
				p #[strong #{mostEdits}]
				p The Article Edited by the Largest Group of Registered Users
				p #[strong #{leastEdits}]
				p The Article with the Longest History
				p #[strong #{longestHis}]
				p The Article with the Shortest History
				p #[strong #{shortestHis}]

			div.individual
				h1.individual Individual
				form(action='/getIndividual' method='GET')
					label Select an Article
					br
					select(name="title")
						option
					input(type = "submit" value = "Submit")

				p Title
				p #[strong #{articleTitle}]
				p Revisions
				p #[strong #{revisions}]
				p Top 5 Regular Users
				p #[strong #{regularUsers}]

		div.col-7.charts
			div.overall
				h3 Distribution Charts
				a(href='' class='chartlink active' id='overallDistriYear') By Year
				a(href='' class='chartlink' id='overallDistriUser') By User Type
				br
				br
				div#overallChart

			div.individual
				h3 Distribution Charts
				a(href='' class='chartlink active' id='indiDistriYear') By Year
				a(href='' class='chartlink' id='indiDistriUser') By User Type
				a(href='' class='chartlink' id='indiDistriReg') By Regular Users
				br
				br
				form(id='selectUser' action='/selectDistriByUsers' method='GET')
					label Select a User
					select
						option
					input(type = "submit" value = "Submit")
				br
				br
				div#indiChart


