doctype html

html(lang="en")
head
	title Featured Wikipedia
	link(rel='stylesheet'
		 type='text/css'
		 href='css/style.css'
		 media='screen')
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="https://www.gstatic.com/charts/loader.js")
	script(src="/js/main.js")
	//script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
	//	google.charts.load("current", {packages:["corechart"]});
	//	google.charts.setOnLoadCallback(drawChart);
	//	function drawChart() {
	//	var data = google.visualization.arrayToDataTable([
	//	['Task', 'Hours per Day'],
	//	['Administrator',     11],
	//	['Registered User',      2],
	//	['Bot',  2],
	//	['Anonymous',    7]
	//	]);
	//	var options = {
	//	title: 'User Types',
	//	is3D: true,
	//	};
	//	var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
	//	chart.draw(data, options);
	//	};
	//script(type='text/javascript').
	//	google.charts.load('current', {'packages':['bar']});
	//	google.charts.setOnLoadCallback(drawStuff);
	//	function drawStuff() {
	//	var data = new google.visualization.arrayToDataTable([
	//	['Opening Move', 'Percentage'],
	//	["King's pawn (e4)", 44],
	//	["Queen's pawn (d4)", 31],
	//	["Knight to King 3 (Nf3)", 12],
	//	["Queen's bishop pawn (c4)", 10],
	//	['Other', 3]
	//	]);
	//	var options = {
	//	title: 'Chess opening moves',
	//	width: 900,
	//	legend: { position: 'none' },
	//	chart: { title: 'Chess opening moves',
	//	subtitle: 'popularity by percentage' },
	//	bars: 'horizontal', // Required for Material Bar Charts.
	//	axes: {
	//	x: {
	//	0: { side: 'top', label: 'Percentage'} // Top x-axis.
	//	}
	//	},
	//	bar: { groupWidth: "90%" }
	//	};
	//	var chart = new google.visualization.ColumnChart(document.getElementById('top_x_div'));
	//	chart.draw(data, options);
	//	};

		 
body 
	h2 Featured
	h2 Wikipedia
	p The Article with the Most Revisions #{mostRevisions}
	p The Article with the Least Revisions #{leastRevisions}
	p The Article Edited by the Largest Group of Registered Users #{mostEdits}
	p The Article Edited by the Largest Group of Registered Users #{leastEdits}
	a
	#piechart_3d(style='width: 900px; height: 500px;')
	#top_x_div(style='width: 900px; height: 500px;')